{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "umd",
        "targets": {
          "esmodules": false,
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8",
            "ie >= 9",
            "iOS >= 7"
          ]
        }
      }
    ]
  ]
}
